<h1> Introduction to Python</h1>

Python is a very simple language, and has a very straightforward syntax. It encourages programmers to program without boilerplate (prepared) code. The simplest directive in Python is the "print" directive - it simply prints out a line.

1. Print
2. Indentation
3. Variables and Types
4. Lists
5. Basic Operators
6. String Formatting

## Hello World !

In [1]:
print("Hello World !")

Hello World !

## Indentation
Python uses indentation for blocks, instead of curly braces. Both tabs and spaces are supported, but the standard indentation requires standard Python code to use four spaces. For example:

In [2]:
x = 1
if x == 1:
    # indented four spaces
    print("x is 1.")

x is 1.

## Variables and Types

Python is completely object oriented, and not "statically typed". You do not need to declare variables before using them, or declare their type. Every variable in Python is an object.

### Numbers

Python supports two types of numbers - integers and floating point numbers. (It also supports complex numbers, which will not be explained in this tutorial).

In [3]:
# To define an integer, use the following syntax:
myint = 7
print(myint)

# To define a floating point number, you may use one of the following notations:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

7
7.0
7.0

### Strings
Strings are defined either with a single quote or a double quotes.

In [4]:
mystr_singlequote = 'hello'
print(mystr_singlequote)
mystr_doublequote= "hello"
print(mystr_doublequote)

hello
hello

The difference between the two is that using double quotes makes it easy to include apostrophes (whereas these would terminate the string if using single quotes)

In [5]:
mystring = "Don't worry about apostrophes"
print(mystring)

Don't worry about apostrophes

There are additional variations on defining strings that make it easier to include things such as carriage returns, backslashes and Unicode characters. These are beyond the scope of this tutorial, but are covered in the [Python documentation](https://docs.python.org/tutorial/introduction.html#strings).

Simple operators can be executed on numbers and strings:

In [6]:
one = 1
two = 2
three = one + two
print(three)

hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

3
hello world

Assignments can be done on more than one variable "simultaneously" on the same line like this

In [7]:
a, b = 3, 4
print(a,b)

3 4

Mixing operators between numbers and strings is not supported:

In [9]:
# This will not work!
one = 1
two = 2
hello = "hello"
# In python can not doing on string operation 
# You can use string casting datatype befor do operation
# print(one + two + hello)

#### String: Excercise

The target of this exercise is to create a `string`, an `integer`, and a `floating` point number. The `string` should be named mystring and should contain the word `"hello"`. The `floating` point number should be named `myfloat` and should contain the number `10.0`, and the `integer` should be named `myint` and should contain the number `20`.

In [ ]:
# change this code
mystring = "hello"
myfloat = 10.0
myint = 20

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

String: hello
Float: 10.000000
Integer: 20

## Lists

Lists are very similar to arrays. They can contain any type of variable, and they can contain as many variables as you wish. Lists can also be iterated over in a very simple manner. Here is an example of how to build a list.

For more detail regarding Python List, [Data Structures](https://docs.python.org/3.5/tutorial/datastructures.html).

In [ ]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3
print('\n')

# prints out 1,2,3
print('Iterate list:')
for x in mylist:
    print(x)

1
2
3


Iterate list:
1
2
3

Accessing an index which does not exist generates an exception (an error).

In [ ]:
mylist = [1,2,3]
# print(mylist[10]) # Over lengh indext list can not add

IndexError: ignored

list.**`remove(x)`**

Remove the first item from the list whose value is `x`. It is an error if there is no such item.

In [ ]:
mylist = [1,2,3]
mylist.remove(1)
print(mylist)

# Alternative way to remove an element from list using index
del mylist[1]
print(mylist)

[2, 3]
[2]

list.***count(x)***
Return the number of times x appears in the list.

In [ ]:
mylist = [1,2,3]*3
print(mylist.count(1))

3

### List: Exercise

In this exercise, you will need to add `numbers` and `strings` to `the correct lists` using the `"append"` list method. You must add the numbers `1,2, and 3` to the "numbers" list, and the words `'hello' and 'world'` to the strings variable.

You will also have to fill in the `variable second_name` with the `second name in the names list`, using the brackets operator `[]`. Note that the index is `zero-based`, so if you want to access the `second item` in the list, its `index` will be `1`.

In [2]:
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]
numbers.append(1)
numbers.append(2)
numbers.append(3)
strings.append('hello')
strings.append('world')
# write your code here
second_name = [1, 2, 3]

# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name[1])

[1, 2, 3]
['hello', 'world']
The second name on the names list is 2

## Basic Operators
This section explains how to use basic operators in Python.

### Arithmetic Operators
Just as any other programming languages, the addition, subtraction, multiplication, and division operators can be used with numbers.

In [ ]:
number = 1 + 2 * 3 / 4.0
print(number)

2.5

Another operator available is the modulo (%) operator, which returns the integer remainder of the division. `dividend % divisor = remainder.`

In [ ]:
remainder = 11 % 3
print(remainder)

2

Using `two multiplication symbols` makes a `power` relationship.

In [ ]:
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

49
8

### Using Operators with Strings

Python supports concatenating strings using the addition operator:

In [ ]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

Python also supports multiplying strings to form a string with a repeating sequence:

In [ ]:
lotsofhellos = "hello" * 10
print(lotsofhellos)

hellohellohellohellohellohellohellohellohellohello

### Using Operators with Lists

Lists can be joined with the addition operators:

In [ ]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

Just as in strings, Python supports forming new lists with a repeating sequence using the multiplication operator:

In [ ]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### Basic Operations: Exercise

The target of this exercise is to create two lists called `x_list` and `y_list`, which contain `10` `instances` of the variables `x` and `y`, respectively. You are also required to create a list called `big_list`, which contains the variables `x` and `y`, `10` times each, by `concatenating` the two lists you have created.

In [15]:
x = object()
y = object()

# TODO: change this code
x_list = [x]
y_list = [y]
big_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

print(x_list)

x_list contains 1 objects
y_list contains 1 objects
big_list contains 10 objects
[<object object at 0x000001F0E7091B70>]

## String Formatting

Python uses C-style string formatting to create new, formatted strings. The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s" and "%d".

Let's say you have a variable called "name" with your user name in it, and you would then like to print(out a greeting to that user.)

In [ ]:
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" % name)

Hello, John!

To use two or more argument specifiers, use a tuple (parentheses):

In [ ]:
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

Any object which is not a string can be formatted using the %s operator as well. The string which returns from the "repr" method of that object is formatted as the string. For example:

In [ ]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

**Here are some basic argument specifiers you should know:**

`%s` - String (or any object with a string representation, like numbers)

`%d` - Integers

`%f` - Floating point numbers

`%.<number of digits>f` - Floating point numbers with a fixed amount of digits to the right of the dot.

`%x/%X `- Integers in hex representation (lowercase/uppercase)

### Excercise

You will need to write a `format` string which `prints out` the data using the following syntax: `Hello John Doe`. `Your current balance is $53.44`.

In [17]:
data = ("John", "Doe", 53.44)
format_string = "Hello"
print(format_string, "%s %s. Your current balance is $%.2f " % data)

format_string = "Hello %s %s. Your current balance is $%s."
print(format_string%data)

# casting string
custing = format_string + data[1]
print(custing)

Hello John Doe. Your current balance is $53.44
Hello John Doe. Your current balance is $53.44.
Hello %s %s. Your current balance is $%s.Doe

### Option #2: str.format()
[`Reference`](https://realpython.com/python-f-strings/): Real Python web site

str.format()  is an improvement on %-formatting. It uses normal function call syntax and is extensible through the __format__() method on the object being converted to a string.

With str.format(), the replacement fields are marked by curly braces:

In [ ]:
name, age = 'Eric', 74
str_fmt = "Hello, {}. You are {}.".format(name, age)
print(str_fmt)

Hello, Eric. You are 74.

You can reference variables in any order by referencing their index:

In [ ]:
# >>> "Hello, {1}. You are {0}.".format(age, name)
name, age = 'Eric', 74
str_fmt = "Hello, {1}. You are {0}.".format(name, age)
print(str_fmt)

Hello, 74. You are Eric.

But if you insert the variable names, you get the added perk of being able to pass objects and then reference parameters and methods in between the braces:

In [ ]:
person = {'name': 'Eric', 'age': 74}
str_fmt = "Hello, {name}. You are {age}.".format(name=person['name'], age=person['age'])
print(str_fmt)

Hello, Eric. You are 74.

You can also use ** to do this neat trick with dictionaries:

In [ ]:
person = {'name': 'Eric', 'age': 74}
str_fmt = "Hello, {name}. You are {age}.".format(**person)
print(str_fmt)

Hello, Eric. You are 74.

### f-Strings: A New and Improved Way to Format Strings in Python#

Also called “formatted string literals,” f-strings are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values. The expressions are evaluated at runtime and then formatted using the __format__ protocol. As always, the Python docs are your friend when you want to learn more.

In [ ]:
name, age = "Eric", 74
str_fmt = f"Hello, {name}. You are {age}."
print(str_fmt)

Hello, Eric. You are 74.

#### Arbitrary Expressions

Because f-strings are evaluated at runtime, you can put any and all valid Python expressions in them. This allows you to do some nifty things.

You could do something pretty straightforward, like this:

In [ ]:
# You could do something pretty straightforward, like this:
print(f"{2 * 37}")

# But you could also call functions. Here’s an example:
def to_lowercase(input):
  return input.lower()

name = "Eric Idle"
print(f"{to_lowercase(name)} is funny."'eric idle is funny.')

# You also have the option of calling a method directly:
print(f"{name.lower()} is funny.")

74
eric idle is funny.eric idle is funny.
eric idle is funny.

You could even use objects created from classes with f-strings. Imagine you had the following class:

In [ ]:
class Comedian:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

    def __str__(self):
        return f"{self.first_name} {self.last_name} is {self.age}."

    def __repr__(self):
        return f"{self.first_name} {self.last_name} is {self.age}. Surprise!"

# Instantiate an object
new_comedian = Comedian("Eric", "Idle", "74")
print(f"{new_comedian}")
# By default, f-strings will use __str__(), but you can make sure they use __repr__() if you include the conversion flag !r:
print(f"{new_comedian!r}")

Eric Idle is 74.
Eric Idle is 74. Surprise!